tpi-master-container
{

}


/* SUB CONTAINER START */

tpi-sub-container
{

}

tpi-sub-container[tpi-container-size="2"]
{
  width: 50%;
}

tpi-sub-container[tpi-container-size="4"]
{
  width: 25%;
}

tpi-sub-container[tpi-container-size="8"]
{
  width: 12.5%;
}

tpi-sub-container[tpi-container-size="10"]
{
  width: 10%;
}

/* SUB CONTAINER END */
